@import './table-data';
@import './table-header';
@import './table-row';

.basic-table {
    width: 100%;
    height: 100%;
    border: 1px solid $primary-border;
    border-radius: 1rem;
    background-color: white;
    border-spacing: 0 8px;
}