tr {
  position: relative;
}

.action-row {
  display: none;
  align-items: center;
  justify-content: right;
  column-gap: 2rem;
  padding: 0 2rem;
  background: linear-gradient(180deg, rgba($tertiary-bg, 0.8), rgba($secondary-bg, 0.8));
  position: absolute;
  left: 0;
  height: 100%;
  right: 0;

}

tbody>.interactive-row {
  cursor: pointer;

  &:hover {
    scale: 1.01;
    background: $secondary-bg;
    box-shadow: #00000078 0 7px 6px -8px;
    transition: .3s;

    >.action-row {
      display: flex;
    }
  }

  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    scale: 1;
  }
}