$primary: #D44C75;
$accent: #C070FF;
$primary-bg: #FFFFFF;
$danger: #e54444;
$green-flag: #00cb00;
$secondary-bg: #f9f9f9;
$tertiary-bg: #EAEAEA;
$secondary-fg: #757575;
$light-fg: #FFFFFF;
$dark-fg: black;
$dark-bg: #545454;
$primary-border: #dcdcdc;
$inactive-item: #757575;
$light-shadow: rgba(0,0,0, 0.25);