@import './colors';

/****************Margin Utility Start********************/

.m-0 {
    margin: 0 !important;
}

.m-1r {
    margin: 1rem !important;
}

.m-2r {
    margin: 2rem !important;
}

.mb-1r {
    margin-bottom: 1rem !important;
}

.mb-1p {
    margin-bottom: 1px !important;
}

.mb-2r {
    margin-bottom: 2rem !important;
}

.mb-2p {
    margin-bottom: 2px !important;
}

.mb-3r {
    margin-bottom: 3rem !important;
}

.mb-3p {
    margin-bottom: 3px !important;
}

.mb-5r {
    margin-bottom: 5rem !important;
}

.mb-5p {
    margin-bottom: 5px !important;
}

.mt-1r {
    margin-top: 1rem !important;
}

.mt-1p {
    margin-top: 1px !important;
}

.mt-2p {
    margin-top: 2px !important;
}

.mt-2r {
    margin-top: 2rem !important;
}

.mt-3p {
    margin-top: 3px !important;
}

.mt-3r {
    margin-top: 3rem !important;
}

.mt-4p {
    margin-top: 3px !important;
}

.mt-4r {
    margin-top: 4rem !important;
}

.mt-5p {
    margin-top: 5px !important;
}

.mt-5r {
    margin-top: 5rem !important;
}

.mr-1r {
    margin-right: 1rem !important;
}

.mr-1p {
    margin-right: 1px !important;
}

.mr-2r {
    margin-right: 2rem !important;
}

.mr-2p {
    margin-right: 2px !important;
}

.mr-3r {
    margin-right: 3rem !important;
}

.mr-3p {
    margin-right: 3px !important;
}

.mr-4r {
  margin-right: 4rem !important;
}

.mr-4p {
  margin-right: 4px !important;
}

.mr-5r {
  margin-right: 5rem !important;
}

.mr-5p {
  margin-right: 5px !important;
}

.ml-1r {
    margin-left: 1rem !important;
}

.ml-1p {
    margin-left: 1px !important;
}

.ml-2r {
    margin-left: 2rem !important;
}

.ml-2p {
    margin-left: 2px !important;
}

.ml-3r {
    margin-left: 3rem !important;
}

.ml-3px {
    margin-left: 3px !important;
}

.my-1r {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2r {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3r {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-4r {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-5r {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/****************Margin Utility END********************/

/****************Padding Utility Start********************/
.p-0 {
    padding: 0 !important;
}

.p-1r {
    padding: 1rem !important;
}

.p-2r {
    padding: 2rem !important;
}

.p-3r {
    padding: 3rem !important;
}

.p-4r {
    padding: 4rem !important;
}

.p-5r {
    padding: 5rem !important;
}

.p-6r {
    padding: 6rem !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-1r {
    padding-left: 1rem !important;
}

.pl-2r {
    padding-left: 2rem !important;
}

.pl-3r {
    padding-left: 3rem !important;
}

.pl-4r {
    padding-left: 4rem !important;
}

.pl-5r {
    padding-left: 5rem !important;
}

.pl-6r {
    padding-left: 6rem !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-1r {
    padding-right: 1rem !important;
}

.pr-2r {
    padding-right: 2rem !important;
}

.pr-3r {
    padding-right: 3rem !important;
}

.pr-4r {
    padding-right: 4rem !important;
}

.pr-5r {
    padding-right: 5rem !important;
}

.pr-6r {
    padding-right: 6rem !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.px-1r {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-2r {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.px-3r {
    padding-left: 3rem !important;
    padding-right: 4rem !important;
}

.px-4r {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.px-5r {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.px-6r {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1r {
    padding-top: 1rem !important;
}

.pt-2r {
    padding-top: 2rem !important;
}

.pt-3r {
    padding-top: 3rem !important;
}

.pt-4r {
    padding-top: 4rem !important;
}

.pt-5r {
    padding-top: 5rem !important;
}

.pt-6r {
    padding-top: 6rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1r {
    padding-bottom: 1rem !important;
}

.pb-2r {
    padding-bottom: 2rem !important;
}

.pb-3r {
    padding-bottom: 3rem !important;
}

.pb-4r {
    padding-bottom: 4rem !important;
}

.pb-5r {
    padding-bottom: 5rem !important;
}

.pb-6r {
    padding-bottom: 6rem !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1r {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-2r {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.py-3r {
    padding-top: 3rem !important;
    padding-bottom: 4rem !important;
}

.py-4r {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.py-5r {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.py-6r {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

/****************Padding Utility End********************/

/****************Width Utility Start********************/

.w-100 {
    width: 100% !important;
}

.w-90 {
    width: 90% !important;
}

.w-80 {
    width: 80% !important;
}

.w-70 {
    width: 70% !important;
}

.w-60 {
    width: 60% !important;
}

.w-50 {
    width: 50% !important;
}

.w-40 {
    width: 40% !important;
}

.w-30 {
    width: 30% !important;
}

.w-20 {
    width: 20% !important;
}

.w-10 {
    width: 10% !important;
}

.w-0 {
    width: 0 !important;
}

.mw-20r {
    max-width: 20rem !important;
}

.mw-30r {
    max-width: 30rem !important;
}

/****************Width Utility End********************/

/****************Height Utility Start********************/

.h-100 {
    height: 100% !important;
}

.h-0 {
    height: 0 !important;
}

.max-h-5r {
    max-height: 5rem !important;
}

.max-h-20r {
    max-height: 20rem !important;
}

.max-h-30r {
    max-height: 30rem !important;
}

/****************Height Utility End********************/

/****************Flex Utility Start********************/

.flex {
    display: flex;

    &--ac {
        align-items: center;
    }

    &--jsc {
        justify-content: center;
    }

    &--jsb {
        justify-content: space-between;
    }
}

.flex-jsb-alc-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}


.flex-1 {
    flex: 1;
}

.jc-right {
    justify-content: right;
}

/****************Flex Utility End********************/

/****************Font Utility Start********************/

.font-w1 {
    font-weight: 100 !important;
}

.font-w2 {
    font-weight: 200 !important;
}

.font-w3 {
    font-weight: 300 !important;
}

.font-w4 {
    font-weight: 400 !important;
}

.font-w5 {
    font-weight: 500 !important;
}

.font-w6 {
    font-weight: 600 !important;
}

.font-w7 {
    font-weight: 700 !important;
}

.font-w8 {
    font-weight: 800 !important;
}

.font-w9 {
    font-weight: 900 !important;
}

.font-s1r {
    font-size: 1rem !important;
}

.font-s1-3r {
    font-size: 1.3rem !important;
}

.font-s1-6r {
    font-size: 1.6rem !important;
}

.font-s2r {
    font-size: 2rem !important;
}

.font-s2-5r {
    font-size: 2.5rem !important;
}

.font-s3r {
    font-size: 3rem !important;
}

/****************Font Utility End********************/

/****************Overflow Utility Start********************/
.overflow-h {
    overflow: hidden;
}

.overflow-a {
    overflow: auto;
}

/****************Overflow Utility End********************/

/****************Border Utility Start********************/
.border-rad-1r {
    border-radius: 1rem;
}

.border-rad-1p {
    border-radius: 1px;
}

.border-b-1p {
    border-bottom: 1px solid;
}

.border-rad-0 {
  border-radius: 0 !important;
}
.primary-border {
  border: 1px solid $primary-border !important;
}

/****************Border Utility End********************/


/****************Position Utility Start********************/

.position-abs {
    position: absolute;
}

.position-rel {
    position: relative;
}

/****************Position Utility End********************/


/****************List Utility Start********************/

.horizontal-list {
    list-style: none;
    display: flex;
    justify-content: center;
    color: $dark-fg;
}

/****************List Utility End********************/


/****************Z-index Utility Start********************/
.z-10 {
    z-index: 10;
}

.z-100 {
    z-index: 100;
}

.z-1000 {
    z-index: 1000;
}

.z-10000 {
    z-index: 10000;
}

/****************Z-index Utility End********************/

/****************Misc Utility Start********************/

.three-dots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-center {
    text-align: center !important;
}

.over-y-auto {
    overflow-y: auto !important;
}

.light-text {
    color: rgba($color: black, $alpha: 0.65);
}

.white-space__norm {
    white-space: normal;
}

.bg-primary {
    background-color: $primary-bg;
}

.bg-secondary {
    background-color: $secondary-bg;
}

.primary-border {
    border-radius: 1rem;
    border: 1px solid $primary-border;
}

.txt-decoration-none {
    text-decoration: none;
}

.error-alert {
  color: $danger;
}

.green-flag {
  color: $green-flag;
}

.red-flag {
  color: $danger;
}

.dark-bg {
  background-color: $dark-bg;
}

.dark-fg {
  color: $dark-fg !important;
}
/****************Misc Utility End********************/