//Grid
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;

$col-2: calc(50%  -  #{$gutter-horizontal} / 2);
$col-3: calc((100% / 3) - #{2 * $gutter-horizontal} / 3);
$col-4: calc((100% / 4) - #{3 * $gutter-horizontal} / 4);


$col-1-of-2-width: #{$col-2};
$col-1-of-3-width: #{$col-3};
$col-2-of-3-width: calc(#{$col-1-of-3-width} * 2 + #{$gutter-horizontal});
$col-1-of-4-width: #{$col-4};
$col-2-of-4-width: calc(#{$col-1-of-4-width} * 2 + #{$gutter-horizontal});
$col-3-of-4-width: calc(#{$col-1-of-4-width} * 3 + 2 * #{$gutter-horizontal});
