.secondary-toggle {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: $light-fg;
  &__input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  &__container {
    width: 4rem;
    height: 2rem;
    display: inline-block;
    margin-left: 1rem;
    background: linear-gradient(90deg, lighten($inactive-item, 10%), lighten($inactive-item, 20%));
    border-radius: 3rem;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-color: lighten($inactive-item, 5%);
      box-shadow: $primary-bg 4px 0 5px -2px;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all 500ms ease-in-out;
    }
  }

  &__input:checked+label {
    background: linear-gradient(90deg, lighten($accent, 25%), lighten($accent, 5%));
    &::after {
      left: auto;
      right: 0;
      background-color: $accent;
      box-shadow: $dark-bg -1px 0 5px -1px;
    }
  }
}