.dropdown {
  padding: 1rem;
  border: 1px solid $primary-border;
  color: $secondary-fg;
  position: relative;
  cursor: pointer;
  user-select: none; 
  &--active {
    border-color: $accent;
    color: $accent;
  }
  &__items {
    list-style: none;
    position: absolute;
    background: white;
    width: max-content;
    border: 1px solid #dcdcdc;
    padding: 1rem;
    color: $secondary-fg;
    transform: translate(-65%, calc(100% + 2px));
    left: 0;
    bottom: 0;
  }
  &__item {
    padding: 1rem;
    overflow: hidden;
    width: clamp(17.5rem, 17.5rem, 17.5rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover {
      background-color: $secondary-bg;
      color: $accent;
    }
  }
}