.round-image {
  box-shadow: 0 0 4px $light-shadow;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
  &--large {
    width: 20rem;
    height: 20rem;
  }
  &--medium {
    width: 10rem;
    height: 10rem;
  }
  &--small {
    width: 5rem;
    height: 5rem;
  }
}