.page-indicator {
    cursor: pointer;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    &__text {
        color: $dark-fg;
    }
    &--active {
        border: 1px solid $accent;
        .page-indicator__text {
            color: $accent;
        }

    }
}