.basic-button {
    font-size: inherit;
    border: none;
    background-color: $primary-bg;
    color: $dark-fg;
    padding: 1rem 2rem;
    cursor: pointer;
    min-width: max-content;
    &:hover, &:focus-visible {
        outline: 3px solid rgba($color: $primary, $alpha: 0.1);
    }
    &:active {
        scale: 0.99;
    }
    &--outline {
      background-color: $primary-bg;
      border: 1px solid $primary-border;
      color:$dark-fg
  }
}

.basic-round-button {
   @extend .basic-button;
   border-radius: 100%;
   padding: 1rem;
}

.primary-button {
    @extend .basic-button;
    background-color: $primary;
    color: $light-fg;
    &:hover, &:focus-visible {
        outline: 3px solid rgba($color: $primary, $alpha: 0.2);
    }
    &--outline {
        background-color: $primary-bg;
        border: 1px solid $primary;
        color: $primary;
    }
}
