@import '../mixins';
@import '../colors';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --root-font-size: 10;
}

#root {
    font-size: 1.4rem;
}
//default font size is 16px
// this define what is 1rem so (10/16)*100 = 62.5%
html {
  // default
  font-size: 37.5%;
  @extend .bg-secondary;

  @include respond(phone) {
    // width < 600?
    font-size: 37.5%; //1 rem = 6px, 6/16 = 37.5%;
  }

  @include respond(tab-sm) {
    // width < 600?
    font-size: 43.75%; //1 rem = 7px, 7/16 = 50%
  }

  @include respond(tab-md) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(tab-lg) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(laptop) {
    // width < 1400?
    font-size: 62.5%; //1 rem = 10px, (10/16)*100 = 62.5%
  }
  position: relative;
  // height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $tertiary-bg;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darken($secondary-bg, 30%);
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken($secondary-bg, 35%);
  }